In [78]:
#Trabalhando com planilhas excel
import pandas as pd

In [79]:
#atribuido cada planilha a uma variavel vamos fazer o tratamento dos dados
aju = pd.read_excel("datasets/Aracaju.xlsx")
nat = pd.read_excel("datasets/Natal.xlsx")
rfe = pd.read_excel("datasets/Recife.xlsx")
fot = pd.read_excel("datasets/Fortaleza.xlsx")
ssa = pd.read_excel("datasets/Salvador.xlsx")

In [80]:
#exibindo o head para verificar se é possivel juntar os os dfs em um unico
aju.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [81]:
vendas = pd.concat([aju, nat, rfe, fot, ssa])

In [82]:
vendas["Vendas"].mean()

122.61180089485458

In [87]:
#é possivel exibir uma amostra dos dados
#isso pode ser util para verificar se a junção deu certo
vendas.sample(5)

      Cidade       Data  Vendas  LojaID  Qtde
69   Aracaju 2018-01-01   15.81    1523     1
77   Aracaju 2018-01-01   24.10    1522     1
31     Natal 2018-04-03  401.00     854     4
72   Aracaju 2018-01-01  168.95    1523     7
123   Recife 2019-03-02   20.22     981     6

In [88]:
#verificando o tipo de arquivo em cada coluna do nosso df
vendas.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [89]:
#transformando a coluna LojaID no typo object ja que estao nao sera utilizado como calculo
vendas["LojaID"] = vendas["LojaID"].astype("object")

In [90]:
#verificando valores faltantes

vendas.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64